{% extends 'base.html.twig' %}

{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('css/about.css') }}"> #}
{% endblock %}

{% block body %}
    <div id="about" class="container">
        <h1>À propos de nous</h1>

        <div class="container">
            <p>Nous sommes Cuissot-lecoeuche Till, Juppet Hugo, et Dietschy Julien.</p>
            <p>Ce site-web a été conçu dans le cadre de notre formation.</p>
        </div>

        <section class="container">
            <h2>Projet Symfony</h2>

            <h3>Contexte</h3>
            <p>Vous êtes développeur web junior dans une agence digitale. Pour le compte de l’un de vos clients, vous devez créer un site web dynamique sans utiliser un CMS. Le choix du framework Symfony a été validé par le client.</p>

            <h3>Mission</h3>
            <p>Après une brève présentation du client, le chef de projet vous présente les fonctionnalités attendues.</p>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Front office
                        </button>
                    </h4>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">                    
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item">une page d’accueil essentiellement graphique contenant les 3 dernières actualités</li>
                                <li class="list-group-item">une page d’actualités</li>
                                <li class="list-group-item">une page pour chaque actualité avec la possibilité de commentaire et de signaler les commentaires</li>
                                <li class="list-group-item">une page de présentation du client</li>
                                <li class="list-group-item">une page de contact</li>
                                <li class="list-group-item">une page d’inscription</li>
                                <li class="list-group-item">une page de connexion</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Back office
                        </button>
                    </h4>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol class="list-group list-group-numbered">
                                <li class="list-group-item">gestion des posts</li>
                                <li class="list-group-item">gestion des commentaires</li>
                                <li class="list-group-item">gestion des utilisateurs</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3>Livrables</h3>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">Spécifications fonctionnelles du projet</li>
                    <li class="list-group-item">Le diagramme de classe de la solution cible</li>
                    <li class="list-group-item">Le repository GITHUB du projet</li>
                    <li class="list-group-item">Le lien vers l’application hébergée sur le web</li>
                </ol>
            </div>


            <h3>Organisation</h3>
            <p>Le projet est réalisé en groupe de 4 personnes.</p>

            <h3>Technologie</h3>
            <p>Symfony 5 ou 6 est utilisé comme framework principal. Les bundles Symfony sont autorisés.</p>
        </section>
    </div>
{% endblock %}
