{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body_id %}homepage{% endblock %}
{% block body %}

    <section class="intro">
        <h2>Bienvenue sur notre site</h2>
        <p>Découvrez les dernières actualités et restez à jour avec les nouveautés.</p>
    </section>

    <section class="news">
        <h1>Les dernières actus</h1>
        {% include 'components/_post_cards.html.twig' with {'posts': posts, 'truncateLength': 200} %}
    </section>
{% endblock %}