{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Accueil</h1>
{% for post in posts %}
    <div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content|slice(0, 100) }}...</p>
        <a href="{{ path('app_post_show', {id: post.id}) }}">Lire la suite</a>
    </div>
{% endfor %}
{% endblock %}
