/* Conteneur principal */
#about .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

.title {
    margin-top: 40px;

}

/* Titres */
#about h1,
#about h2,
#about h3,
#about h4 {
    color: #333;
    margin-bottom: 10px;
}

/* Paragraphe d'introduction */
#about .container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Listes */
#about ul {
    margin-bottom: 15px;
}

#about ul li {
    margin-bottom: 8px;
}

/* Liens */
#about a {
    color: #007bff;
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}

#about .footer {
    position: static;
}