* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

.header {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 105px;
    top: 0;
    padding: 40px;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .site-identity {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header h2 {
    margin: 0;
}

.header h2 span {
    background: linear-gradient(90deg, #4490f0 50%, #b3d9ff 100%);
    background-clip: text;
    color: transparent;
}

.header .logo {
    height: 85px;
    max-height: 100%;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #555;
}

.header nav ul li a:hover {
    background-color: #777;
}

.wrapper {
    display: flex;
    margin-top: 105px;
    min-height: calc(100vh - 105px - 105px);
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: calc(100vh - 210px);
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    width: 100%;
    margin-left: 0;
    padding: 20px 20px 125px;
}

.main-content.with-sidebar {
    margin-left: 250px;
}

h1 {
    text-align: center;
}

a {
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #4490f0;
}

p {
    margin: 0;
}

ul {
    list-style: none inside none;
    margin-bottom: 0;
}


.footer {
    position: fixed;
    max-height: 105px;
    width: 100%;
    bottom: 0;
    padding: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.alert.alert-danger {
    background: #f23434;
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-align: center;
}