* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header .logo {
    margin-right: auto;
    position: absolute;
    left: 40px;
    top: 15px;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #555;
}

.header nav ul li a:hover {
    background-color: #777;
}

.wrapper {
    display: flex;
    margin-top: 105px;
    min-height: calc(100vh - 105px - 105px);
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: calc(100vh - 210px);
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    width: 100%;
    margin-left: 0;
    padding: 20px 20px 125px;
}

.main-content.with-sidebar {
    margin-left: 250px;
}

ul {
    list-style-position: inside;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.alert.alert-danger {
    background: #f23434;
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-align: center;
}