{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tableau de bord</h1>
    <ul>
        <li><a href="{{ path('admin_users') }}">Gérer les utilisateurs</a></li>
        <li><a href="{{ path('admin_posts') }}">Gérer les articles</a></li>
        <li><a href="{{ path('admin_reports') }}">Gérer les signalements</a></li>
    </ul>
{% endblock %}