{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tableau de bord</h1>
    <ul>
        <li><a href="{{ path('admin_users') }}">Gérer les utilisateurs</a></li>
        <li><a href="{{ path('admin_post_new') }}">Publier un nouvel article</a></li>
    </ul>
{% endblock %}