<p>Bonjour {{ name }},</p>

<p>Merci pour votre message, celui-ci a bien été envoyé. Nous vous répondrons dans les plus brefs délais.</p>

<p>Voici une copie de votre message :</p>

<blockquote>{{ message }}</blockquote>

<p>Cordialement,</p>
<p>L'équipe WebNews</p>