<div class="header">
    <a href="{{ path('home') }}" class="site-identity">
        <img src="{{ asset('images/logo.png') }}" alt="Logo WebNews" class="logo">
        <h2>
            Web<span>News</span>
        </h2>
    </a>
    {% include 'components/navigation.html.twig' %}
</div>